body{
	margin:0;
}
.background{
	z-index:-1;
	height:100vh;
	width: 100vw;
	background-image:url('Images/Image1.jpg');
	background-size:cover;
	background-position:center;
	position:fixed;
	top:0;
}
.field{
	font-family: Montserrat;
	width:50%;
	padding:50px;
	background-color:white;
	margin:50px auto;
	form{
		small{
			color:red;
		}
		input{
			margin-bottom: 30px;
		}
		.image_lg ,.image_sm{
			background-color:#F1F1F1;
			margin-bottom:30px; 
			height:200px;
			display: flex;
			align-items:center;
			justify-content: center;
			input{
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}
			label{
				cursor: pointer;
				text-align: center;
				font-size:0.7em;
			}
		}
		.image_sm{
			width:200px;
			img{
				width:30px;
				height:30px;
			}
			label{
				font-size: 0.5em;
				text-align: center;
			}
		}
		.form-row{
			margin-top: 30px;
			width:15vw;
		}
	}
}